/* General screen styles */
body {
    background-color: white;
    color: black;
}

/* Print styles */
@media print {
    @page {
        size: A4 landscape;
    }

    body {
        color: black;
    }

    /* Apply color to all elements */
    * {
        color: black;
    }
}

