
@font-face {
    font-family: 'THSarabun';
    src: url('../../../../public/font/THSarabun.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media print {
    body {
        font-family: 'THSarabun', sans-serif;
        background-color: white;
        
    }
}

@media screen {
    body {
        font-family: 'THSarabun', sans-serif;
        background-color: black;
        zoom: 1.5;
    }
    .report {
        font-family: 'THSarabun', sans-serif;
        background-color: white;
        /* zoom: 1.5; */
    }
}